html {
    scroll-behavior: smooth;
    background-color: aquamarine;
}

#main_div {
    background-color: white;
    border-style: solid;
    border-color: white;
    border-radius: 16px;
    width: fit-content;
}